body {
    margin: 0;
    padding: 0;
    background: rgb(255, 255, 255);
  }
  
  .todo-app {
    max-width: 700px;
    margin: 20px auto;
    padding: 10px 20px 10px;
  }
  
  .collection-item {
    background: rgb(255, 255, 255);
  }
  
  .collection-item span:hover {
    cursor: pointer;
    text-decoration: line-through;
  }
  
  form {
    margin: 20px 10px;
    
  }